// Colors
// =============================================================================

$color-bunker: #101820;
$color-lynch: #697B95;
$color-botticelli: #D2DCE8;
$color-alabaster: #FAFAFA;

$color-silver-chalice: #AEAEAE;
$color-gray: #828282;

$color-pastel-green: #76E691;
$color-fern: #53B16A;

$color-azure-radiance: #008FFF;

// Typography
// =============================================================================
$default-font-stack: 'Helvetica Neue', Arial, Sans-serif;
$default-font-color: $color-lynch;
$default-font-size: 14px;
$default-line-height: 18px;

$default-link-color: $color-azure-radiance;

// Radius
// =============================================================================
$default-radius: 5px;

// Animation
// =============================================================================
$default-transition-duration: .2s;
$default-transition-easing: ease;
$default-transition-feel: $default-transition-duration $default-transition-easing;

$ease-out-quadratic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

// Layout
// =============================================================================
$max-container-width: 1024px;

// Gaps (Note that sizing doesn't relate to breakpoints - different t-shirts)
// =============================================================================
$gap-sm: 21px;
$gap-lg: $gap-sm * 2;
$gap-xl: 60px;
$gap-xxl: 90px;

// Breakpoints
// =============================================================================
$breakpoints: (
    sm: 35.5em, // 568px
    md: 48em, // 768px
    lg: 64em, // 1024px
    xl: 80em, // 1280px
);
