.field {
    margin-bottom: $gap-sm;
}

.field__message {
    display: block;
    font-size: 11px;
    margin-top: 3px;
}

// Modifiers
// =============================================================================

.field--invalid .field__message {
    color: $color-matrix;
}