// Basic inputs
// =============================================================================

/*
    Markup:

    <input type="text" placeholder="What else can I say?">

 */

[type=text],
[type=email],
textarea {
    @extend %default-text;
    background: white;
    border: 1px solid $color-botticelli;
    border-radius: $default-radius;
    padding: 14px;
    transition: border $default-transition-feel;
    width: 100%;
    &::placeholder {
        color: $color-botticelli;
        transition: color $default-transition-feel;
    }
    &:focus {
        outline: 0;
        border-color: $default-link-color;
        color: $default-link-color;
        &::placeholder {
            color: lighten($color-botticelli, 10%);
        }
    }
}

// Better inputs
// =============================================================================

/*
    Markup:

    <div class="input">
        <input type="text" class="input__field" value="" id="InputID">
        <label class="input__label" for="InputID">First name</label>
    </div>

    Note: The empty value attribute is important for persisting the label
    position when text is entered.

 */

.input {
    position: relative;
}

.input__field {
    padding-top: 20px;
    padding-bottom: 8px;
    @include respond(md) {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    &::placeholder {
        opacity: 0;
    }
}

.input__label {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    padding: 0 14px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: transform $default-transition-feel,
                font-size $default-transition-feel,
                left $default-transition-feel;
    white-space: nowrap;
}

.input__field:focus + .input__label,
.input__field:not([value='']) + .input__label {
    font-size: 11px;
    transform: translateY(-18px);
    @include respond(md) {
        transform: translateY(-50%) translateX(-100%);
        left: 100%;
    }
}
