* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: $gap-lg;
    @include respond(md) {
        padding-top: $gap-xl;
    }
}
