.footer {
    background: $color-alabaster;
    border-top: 1px solid $color-botticelli;
    margin-top: $gap-xl;
    padding: $gap-xl 0 30px;
    @include respond(md) {
        margin-top: $gap-xxl;
        padding-top: $gap-xxl;
        padding-bottom: $gap-xl;
    }
}

.footer__info {
    margin-bottom: 30px;
    text-align: center;
    @include respond(md) {
        text-align: left;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}