.footer {
    background: $color-alabaster;
    border-top: 1px solid $color-botticelli;
    padding: $gap-xl 0;
    @include respond(md) {
        padding-top: $gap-xxl;
        padding-bottom: $gap-xxl;
    }
}

.footer__info {
    margin-bottom: 30px;
    text-align: center;
    @include respond(md) {
        text-align: left;
    }
}