// Scroll gallery
// =============================================================================

/*
    Markup:

    <div class="scroll-gallery">
        <ul class="scroll-gallery__list">
            <li class="scroll-gallery__item">
                <a href="" class="scroll-gallery__image" style="background-image: url(...)">
                    <span class="sr-only">Image Name</span>
                </a>
            </li>
            <li class="scroll-gallery__item">
                <a href="" class="scroll-gallery__image" style="background-image: url(...)">
                    <span class="sr-only">Image Name</span>
                </a>
            </li>
            <li class="scroll-gallery__item">
                <a href="" class="scroll-gallery__image" style="background-image: url(...)">
                    <span class="sr-only">Image Name</span>
                </a>
            </li>
            <li class="scroll-gallery__item">
                <a href="" class="scroll-gallery__image" style="background-image: url(...)">
                    <span class="sr-only">Image Name</span>
                </a>
            </li>
        </ul>
    </div>

 */

// Images shift up on hover, this variable controls how much they shift by, and
// also how much to counter-act that!
$image-shift: 5px;

.scroll-gallery {
    height: 174px + $image-shift;
    margin-top: -$image-shift;
    margin-bottom: $gap-lg;
    overflow: hidden;
}

.scroll-gallery__list {
    list-style: none;
    overflow-x: auto;
    padding-top: $image-shift;
    padding-bottom: 40px;
    white-space: nowrap;
}

.scroll-gallery__item {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;

    &:last-child {
        margin-right: 0;
    }
}

.scroll-gallery__image {
    background-color: $color-alabaster;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $default-radius;
    display: block;
    width: 236px;
    height: 174px;
    transition: transform .5s $default-transition-easing;
}

.scroll-gallery__image:focus,
.scroll-gallery__image:hover {
    transform: translateY(-$image-shift);
}