// Snippet
// =============================================================================

/*
    Markup:

    <a href="/" class="snippet">
        <article>
            <div class="snippet__image" style="background-image: url(...)"></div>
            <div class="snippet__content">
                <h3 class="snippet__title">Title</h3>
                <div class="snippet__text">
                    <p>Test</p>
                </div>
                <div class="snippet__link">Link</div>
            </div>
        </article>
    </a>

 */
.snippet {
    display: block;
    width: 100%;
    margin-bottom: $gap-sm;
    @include respond(md) {
        margin-bottom: $gap-lg;
    }
}

.snippet__image {
    padding-top: 54%;
    background-color: $color-alabaster;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $default-radius;
    margin-bottom: 11px;
}

.snippet__content { }

.snippet__title,
.snippet__text {
    color: $default-font-color;
}

.snippet__title {
    font-weight: bold;
    font-size: $default-font-size;
    line-height: $default-line-height;
    margin-bottom: 3px;
}

.snippet__text {
    margin-bottom: 13px;
    > *:last-child {
        margin-bottom: 0;
    }
}

.snippet__more { } // Placeholder

// If snippets ever have a background color or border, these classes can be
// added to .row and .col's to ensure each box have equal heights - for now
// these are unused
.snippet-list { list-style: none; }
.snippet-list__item { display: flex; }
