// Social list
// =============================================================================

/*
    Markup:

    <ul class="social-list">
        <li class="social-list__item">
            <a href="/" class="social-link">
                <svg class="social-link__icon">
                    <use xlink:href="images/sprite.svg#facebook" />
                </svg>
            </a>
        </li>
        ...
    </ul>

    Note: The social svg icons have title tags, so they're accessible!

 */

.social-list {
    list-style: none;
    margin-bottom: 20px;
}

.social-list__item {
    display: inline-block;
    margin-right: 10px;
}

// Social link
// =============================================================================

$social-link-size: 40px;

.social-link {
    position: relative;
    background: $default-link-color;
    border: 2px solid $default-link-color;
    border-radius: $social-link-size / 2;
    box-shadow: 0 0 0 $social-link-size $color-alabaster inset;
    cursor: pointer;
    display: inline-block;
    height: $social-link-size;
    width: $social-link-size;
    vertical-align: middle;
    transition: box-shadow $default-transition-feel;

    &:focus,
    &:hover {
        box-shadow: 0 0 0 0 white inset;
    }
}

.social-link__icon {
    @extend %icon;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $default-link-color;
    transform: translate(-50%, -50%);
    transition: color $default-transition-feel;
}

.social-link__text {
    position: absolute;
    top: 50%;
    padding-left: $social-link-size;
    transform: translate(5px, -50%);
}

.social-link:focus,
.social-link:hover {
    .social-link__icon {
        color: white;
    }
    .social-link__text {
        color: $default-link-color;
    }

}