// Icon
// =============================================================================

/*
    Markup:

    <svg class="icon">
        <use xlink:href="images/sprite.svg#facebook" />
    </svg>

    It's good to have an icon set that's available to use across the site, but
    @extend %icon when using icons in modules/components so we don't end up
    with too many of these kind of class definitions class="icon social__icon".

 */

%icon,
.icon {
    position: relative;
    top: -1px;
    fill: currentColor;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
